
.rectangle1 {
    position: relative;
    width: 1920px;           
    background-color: rgba(248, 146, 8, 0.24);
}

h2 {
    position: relative;
    top: 40px;

}

/* OvalButton.css */
.oval-button {
    background-color: #7fa6bc; 
    color: white;
    padding: 10px 30px; 
    border-radius: 50px;
    border: none; 
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-left: 20px;
}

.oval-button:hover {
    background-color: #0099cc; 
}

.oval-input {
    background-color: rgba(15, 132, 214, 0.17); 
    color: #333; 
    padding: 10px 20px; 
    border-radius: 50px; 
    border: 2px solid rgba(4, 206, 243, 0.24); 
    outline: none; 
    font-size: 16px; 
    width: 20%; 
    box-sizing: border-box; 
    transition: border-color 0.3s ease; 
}

.oval-input:focus {
    border-color: rgba(248, 146, 8, 0.24); 
}

.inputnamber {
    background-color: rgba(15, 132, 214, 0.17); 
    color: #333;
    padding: 10px 20px; 
    border-radius: 50px;
    border: 2px solid rgba(4, 206, 243, 0.24); 
    outline: none;
    font-size: 16px; 
    width: 4%; 
    box-sizing: border-box; 
    transition: border-color 0.3s ease; 
}



.oval-option {
    background-color: rgba(211, 133, 74, 0.47); 
    color: #100f0f; 
    padding: 10px 10px; 
    border-radius: 60px; 
    border: none; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    position: relative;
    width: 150px;
    height: 50px;

    left: -190px;
}

.oval-option:hover {
    background-color: rgb(112, 85, 51); 
}