.body{
    position: relative;
    width: 1920px;          
    height: 320px;
    top: 78px;
    background-color: rgba(15, 132, 214, 0.17);
}

.column-list {

    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: minmax(10px, 40px); 
    gap: 20px; 


}

.column-list-item {
    position: relative;
    height: 20px;

    width: 40%;
    font-size: 30px;
    padding: 10px;
    margin-top: 50px;
    left: 230px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.column-list-item:last-child {
    border-bottom: none;
}

.shift-right{
    right: 20%;
}



.oval1-button {
    background-color: rgba(211, 133, 74, 0.47); 
    color: #100f0f; 
    padding: 10px 10px; 
    border-radius: 60px; 
    border: none;
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    position: relative;
    width: 150px;
    height: 50px;

    left: 180px;
}

.oval1-button:hover {
    background-color: #A0522D; 
}

.checkbox {
    position: relative;
    top: 33px;
    left: -130px;
    transform: scale(1.7);
}

.check {
    text-decoration: line-through
}

.delute {
    position: relative;
    left: 140px;
    top: 30px;
    border: none;       
    outline: none;       
   
}