.App {
  text-align: center;
}


.rectangle {
  width: 1920px;           /* Ширина прямоугольника */
  height: 220px;          /* Высота прямоугольника */
  /* Обводка */
}

img{
  width: 1920px;           /* Ширина прямоугольника */
  height: 220px;
}
